:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url('/images/bg-pattern-top.svg'), url('/images/bg-pattern-bottom.svg');
    background-position: -30% 50%, 130% -50%;
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    body {
        background-position: 130% 60%, -30% -40%;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

.card {
    width: 340px;
    height: 380px;
    border-radius: 12px;

    background-color: white;
    background-image: url('images/bg-pattern-card.svg');
    background-repeat: no-repeat;

    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .avatar-image {
    width: 96px;
    border-radius: 50%;
    border: 4px solid white;

    margin-top: 92px;
}

.content {
    width: 340px;
    height: 100%;
    text-align: center;
    position: relative;
}

.content .name {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
}

.content .name span {
    color:hsl(0, 0%, 59%);
    font-weight: 400;
    margin-left: 4px;
}

.content .city {
    text-align: center;
    color:hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 14px;
}

.content .statistics {
    width: 100%;
    height: 80px;
    margin-top: 32px;
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.content .statistics p {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
}

.content .statistics p span {
    text-align: center;
    color:hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;

    margin-top: 6px;
}


